<!-- Apple Description Page -->


<div class="snapshot">
<h2>AAPL:US <%= @quote %>USD <h2>
<h3>Description</h3>
<p class="description">
  Apple Inc. and its wholly-owned subsidiaries design, manufacture, and market mobile communication and media devices, personal computers, and portable digital music players worldwide. It also sells software, services, peripherals, networking solutions, and third-party digital content and applications related to its products. The company offers iPhone, a line of smartphones that comprise a phone, music player, and Internet device; iPad, a line of multi-purpose tablets based on Apples iOS Multi-Touch operating system; Mac, a line of desktop and portable personal computers; and iPod, a line of portable digital music and media players, such as iPod touch, iPod nano, iPod shuffle, and iPod classic. It also provides Apple TV, a portfolio of consumer and professional software applications, the iOS and OS X operating systems, iCloud, and various accessories, service and support offerings; and manufactures the Apple LED Cinema Display and Thunderbolt Display. In addition, the company sells various other application software comprising Final Cut Pro, Logic Pro X, and its FileMaker Pro database software, as well as a range of Apple-branded and third-party Mac-compatible, and iOS-compatible peripheral products, including printers, storage devices, computer memory, digital video and still cameras, pointing devices, and various other computing products and supplies. Apple Inc. sells digital content and applications through the iTunes Store, App Store, iBooks Store, and Mac App Store; and its products through its retail stores, online stores, and direct sales force, as well as through third-party cellular network carriers, wholesalers, retailers, and value-added resellers. The company also sells a range of third-party products through its online and retail stores. It serves various consumers, small and mid-sized businesses, as well as education, enterprise, and government customers. Apple Inc. was founded in 1977 and is headquartered in Cupertino, California.
</p>


<strong>Apple Inc.</strong><br>
1 Infinite Loop <br>
Cupertino, CA 95014 <br>
United States - Map <br>
Phone: 408-996-1010 <br>
Website: <a href="http://www.apple.com">http://www.apple.com</a> <br>
Investor Relations: <a href="http://investor.apple.com/">http://investor.apple.com/</a>
</div>








