<!-- google description page -->



<div class="snapshot">
<h2>GOOG:US <%= @quote %>USD <h2>
<h3>Description</h3>
<p class="description">
  Google Inc. (Google), is a global technology company. The Company’s business is primarily focused around key areas, such as search, advertising, operating systems and platforms, enterprise and hardware products. The Company generates revenue primarily by delivering online advertising. The Company also generates revenues from Motorola by selling hardware products. Effective May 16, 2014, Google Inc acquired Quest Visual Inc. Effective May 20, 2014, Google Inc acquired Enterproid Inc, doing business as Divide. In June 2014, Google Inc acquired mDialog Corp. Effective June 25, 2014, Google Inc acquired Appurify Inc, a San Francisco-based developer of mobile bugging application software. Effective 23, July, 2014, Google Inc acquired drawElements Oy, a Helsinki-based developer of 3D graphics software. Effective August 6, 2014, Google Inc acquired Tinker Square Inc. Effective August 22, 2014, Google Inc acquired Gecko Design Inc. Effective August 26, 2014, Google Inc acquired Zync Inc.
</p>


<strong>Google Inc.</strong><br>
1600 Amphitheatre Parkway <br>
Mountain View, CA 94043 <br>
United States  <br>
Phone: 650-253-0000 <br>
Fax: 650-253-0001 <br>
Website: <a href="http://www.google.com">http://www.google.com</a> <br>
Investor Relations: <a href="https://investor.google.com/">https://investor.google.com/</a> <br>

</div>



