<h2>Apple's latest stock price is: $<%= @quote %> <h2>

<div class="search-bar">
<form method="POST" action="/market">
  <label for="search"></label>
  <input type="text" name="search" id="search" style="width:500px;"/>
</form>
</div>




