<h2> you made it motherfucker <h2>

<div class="search-bar">
<form method="POST" action="/market">
  <label for="search"></label>
  <input type="text" name="search" id="search" style="width:500px;"/>
  <input type="submit" value="go" />
</form>
</div>



