

<!-- # s = stock_price
  # x = strike_price
  # t = time in fraction of a year
  # v = volatility measured in standard deviation
-->
<h1 align="center">Option Pricing Calculator</h1>
<div class="option-pricing">
<form method="POST" action="/option">
  <select name="select">
  <option value="c" selected>call</option>
  <option value="p"          >put</option>
  </select>
  <br>
  <label for="stock_price">Stock Price</label>
  <input type="text" name="stock_price" id="stock_price"/>
  <br>
  <label for="strike_price">Strike Price</label>
  <input type="text" name="strike_price" id="strike_price"/>
  <br>
  <label for="time_to_expire">Time</label>
  <input type="text" name="time_to_expire" id="time_to_expire"/>
  <br>
  <label for="risk_free_rate">Risk Free Rate</label>
  <input type="text" name="risk_free_rate" id="risk_free_rate"/>
  <br>
  <label for="volatility">Volatility</label>
  <input type="text" name="volatility" id="volatility"/>
  <br>
  <input type="submit" value="Price Option">
</form>
</div>

<% if @option_price  %>
<h3 align="center"> The fair price for your option is: $<%= '%.2f' % @option_price %> </h3>
<% end %>



