
html{
  border: solid gray 1px;
  margin: 10px;
  padding: 2px;
  height: 100%;
  background-color: white;

}

body {
  font-family: "Helvetica Neue", Helvetica;
  background-color: white;
  height:99%;
}


.search-bar {
  width: 50%;
  margin: auto;

}

table.MGMT {
  width: 50%;
  margin: auto;
  border: solid black 1px;
  font: color="blue";
}

p.description {
 font-size: 13px;

}


.equity-index th {
font-size: 12px;
}

.equity-index td {
font-size: 10px;
color: blue;
width: 80px;
}

.currency-index th {
font-size: 12px;
}

.currency-index td {
font-size: 10px;
color: blue;
width: 80px;
}

.commodities-index th {
  font-size: 12px;
}

.commodities-index td {
  font-size: 10px;
  color: blue;
  width: 80px;
}





