
html{
  border: solid gray 1px;
  margin: 10px;
  padding: 2px;
  height: 100%;
  background-color: white;


}

body {
  font-family: "Helvetica Neue", Helvetica;
  background-color: white;
  height:99%;
}


.search-bar {
  width: 50%;
  margin: auto;

}

table.MGMT {
  width: 50%;
  margin: auto;
  border: solid black 1px;
  font: color="blue";
}

p.description {
 font-size: 13px;

}


.equity-index th {
font-size: 12px;
}

.equity-index td {
font-size: 10px;
color: blue;
width: 80px;
}

.currency-index th {
font-size: 12px;
}

.currency-index td {
font-size: 10px;
color: blue;
width: 80px;
}

.commodities-index th {
  font-size: 12px;
}

.commodities-index td {
  font-size: 10px;
  color: blue;
  width: 80px;
}

.financial_table th {
  font-size: 15px;
  width: 80px;

}


.financial_table td {
  font-size: 14px;
  color: blue;
  width: auto;

}

div.financial_table {
  width: 50%;
  margin: 0 auto;
}

table.financial_table {
}

td.key {
  width: 225px;
}


/* Twitter Feed Styling */
div.twitter-company {
  margin: 10px;
  margin-left: 25%;
}

div.twitter-market {
  position: absolute;
  top: 87px;
  left: 325px;
  border: solid gray 1px;
  width: 525px;
  height: 350px;
  position: right;
}

div.market-table {
  border: solid gray 1px;
  width: 300px;
  height: 350px;
}


.WSJ-RSS {
font-size: 12px;

}

.WSJ-RSS h3 {
  text-align: left;
}

div.option-pricing {
  margin-top: 10px;
  margin-left: 25%;
  margin-right: 25%;

}

.option-pricing input {
  width: 100px;

}

.option-pricing label {
    float: left;
    clear: left;
    width: 250px;
    text-align: left;

}

.option-pricing form {
  width: 300px;

}

